html, body {
  margin: 0;
  padding: 0;
}
body {
  width: 80%;
  max-width: 1020px;
  margin: 0 auto;
}

/***************************************************************************************************
* Gist overrides                                                                                   *
***************************************************************************************************/
.line-numbers,
.gist-meta {
  display: none;
}

.file-data {
  background: hsla(0,0%,0%,.05);
  padding: 0 1.5em;
  margin: 0 -1.5em;
}
